* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F8F7;
}

/* sidebar properties */

.sidebar {
    background-color: #423D37;
    box-shadow: 10px 0px 15px   rgba(0, 0, 0, 0.178);
    margin-top: -66px;
}

.logo {
    width: 200px;
}

.sm-logo {
    width: 50%;
}

.nav-link {
    color: #F4F2F0;
    letter-spacing: 1px;
    font-size: 16px;
}

.nav-link:hover {
    color: #b99467;
}

/* navbar */
.header {
    width: 80%;
}

.search-bar > input{
    border-radius: 20px;
}

.search-bar {
    width: 50%;
    height: 40px;
    border-radius: 20px;
    background-color: white;
}

.fa-magnifying-glass, .fa-angle-down, .fa-envelope, .fa-bell {
    color: #906236;
}

.artist-name, .artist-role {
    color: #423D37;
}

.artist-role {
    font-size: 14px;
}

.dropdown-toggle::after {
    display: none !important;
}

.fa-angle-down, .fa-envelope, .fa-bell {
    font-size: 20px;
}


/* comms content */
.comms-label, .card-title, .card-text {
    font-family: 'Raleway', sans-serif;
}
.comms-label, .card-title {
    font-weight: bold;
}

.comms-label {
    font-size: 18px;
}

.div-card {
    border-radius: 30px;
}

.last-img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* change the rounded corner in small screen */
@media only screen and (max-width: 768px) {
    .last-img {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
    }
}

.card-title {
    font-size: 30px;
}

.card-text {
    color: #423D37;
}

.continue, .status {
    background-color: #986C4A;
    border-radius: 50px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 5px 5px;
}

.continue {
    width: 100px;
}
.status{
    width: 30%;
}

.progress {
    width: 95%;
}

.progress-bar {
    background-color: #906236;
}

.card-img-top {
    object-fit: cover;
}

