.service-title, .service{
    color: #986C4A; 
}

.service {
    font-family: 'Dancing Script', cursive;
    font-size: 7vw;
    transform: rotate(-3deg);
}

.service-title {
    font-size: 20px;
}

.service-photo {
    width: 90%;
    height: 15vw;
    object-fit: fill;
}

.service-desc {
    text-align: justify;
    text-justify: inter-word;
}
